# Django
SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL (por defecto habilitado; si POSTGRES_ENABLED=False se usa SQLite)
POSTGRES_ENABLED=True
POSTGRES_DB=tienda
POSTGRES_USER=tienda_user
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://127.0.0.1:6379/1

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox

# SMTP
SMTP_ENDPOINT=smtp.email.eu-paris-1.oci.oraclecloud.com
SMTP_PORT=587
SECURITY=tls
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_EMAIL=

DOMAIN=
PROTOCOL=

# Logging
LOG_LEVEL=INFO
LOG_DIR=logs
LOG_FILE=app.log