amqp==5.3.1
asgiref==3.11.0
billiard==4.2.4
celery==5.6.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==46.0.4
Django==6.0.1
django-appconf==1.2.0
django-libsass==0.9
django-redis==5.4.0
django_compressor==4.6.0
gunicorn==25.1.0
idna==3.11
Jinja2==3.1.6
kombu==5.6.2
libsass==0.23.0
MarkupSafe==3.0.3
packaging==26.0
paypalrestsdk==1.13.3
pillow==12.1.0
prompt_toolkit==3.0.52
pycparser==3.0
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
rcssmin==1.2.2
redis==5.2.1
requests==2.32.5
rjsmin==1.2.5
six==1.17.0
sqlparse==0.5.5
stripe==14.3.0
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
whitenoise==6.12.0
mysqlclient
fpdf2==2.8.7