<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" style="padding: 20px;">
            <table width="600" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #eeeeee; background-color: #ffffff;">
                <tr>
                    <td align="center" style="background-color: #007bff; padding: 40px;">
                        <h1 style="color: #ffffff; font-family: sans-serif; margin: 0;">¡Hola {{ name }}!</h1>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 30px; font-family: sans-serif; line-height: 1.5; color: #444444;">
                        <p>Has iniciado sesion en <strong>Comercialmeria</strong></p>
                        <p>Si has sido tu, ignore este correo. Si no, <strong>Cambie la contraseña de inmediato</strong>, ¡Alguien se ha colado!</p>
                        <p></p>
                        <p>Este email ha sido enviado automaticamente, no responda a este correo.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>